<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag login_path, method: "post" do %>

      <%= label_tag :email %>
      <%= text_field_tag :email, nil, class: 'form-control' %>
      <%= select_tag :domain , options_for_select(@domain),
          include_blank: '-- 未指定 --', class: 'form-control' %>
      
      <%= label_tag :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= password_field_tag :password, nil, class: 'form-control' %>
      
      <%= label_tag :remember_me, class: "checkbox inline" do %>
        <%= check_box_tag :remember_me %>
        <span>ログインを保持</span>
      <% end %>
      
      <%= submit_tag "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>まだ登録していない人は登録してください <%= link_to "登録ページ", signup_path %></p>
  </div>
</div>