<%= form_for @user do |f| %>
  <%= render 'shared/error_messages' %>
        
  <%= f.label :name ,"名前" %>
  <%= f.text_field :name, class: 'form-control' %>
  
  <%= f.label :email ,"メール" %>
  <%= f.email_field :email, class: 'form-control' %>
  
  <%= f.label :entrance_year　,"入学年度" %>
  <%= f.select :entrance_year, options_for_select(@entrance_years, include_blank: false, selected: @user.entrance_year), {}, class: 'form-control' %>
  
  <%= f.label :password ,"パスワード (6文字以上)"%>
  <%= f.password_field :password, class: 'form-control' %>
  
  <%= f.label :password_confirmation, "パスワード (確認用)" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  
  <div class="row">
    <%= f.submit yield(:button_text), class: "btn btn-primary col-md-4 col-md-offset-4" %>
  </div>
  
<% end %>
