<% provide(:title, @soukai.name) %>
<div class="row">
  <aside class="col-md-4 col-md-offset-4">
    <section>
      <h1 class="center" style="font-size: 40px;"><%= @soukai.name %></h1>
      <table class="table">
        <thead>
      			<th style="font-size: 20px; font-weight: bold;">出席会員一覧</th>
      			<th>/ 出席数 <%= @user.size %></th>
      	</thead>
      	<tbody>
      	  <% @user.each do |n| %>
      	  <tr>
      	    <th><%= link_to n.name, n %></th>
      	  </tr>
        	<% end %>
      	</tbody>
      </table>
    </section>
    <div class="center">
      <% if current_user.admin? %>
      <%= link_to "編集", edit_soukai_path(params[:id]), class: "btn btn-lg btn-primary" %>
      <% end %>
      <%= link_to "総会一覧", soukais_path, class: "btn btn-lg btn-primary" %>
    </div>
  </aside>
</div>
