<% provide(:title, "vote") %>
<h1>投票</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @vote do |f| %>
      <%= f.hidden_field :project_id, value: @project_id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.label :project_option_id %><br>
      <%= f.select :project_option_id, options_for_select(@project_options), {}, class: "form-control" %>
      
      <div style="padding-top:10px"> </div>
      <%= f.submit "投票", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>